#moreoptionsDrawer {
	display: none;
}

@media all and (-tizen-geometric-shape: circle) {
	#moreoptionsDrawer {
		display: block;
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 100%;
	}
	#moreoptionsPopup {
		display: none;
	}
}

.lamp-icon.yellow {
	-webkit-mask-image: url("../images/lamp-aan.png");
}

.lamp-icon {
	-webkit-mask-image: url("../images/lamp-uit.png");
}

.switch-icon.yellow {
	-webkit-mask-image: url("../images/switch-aan.png");
}

.switch-icon {
	-webkit-mask-image: url("../images/switch-uit.png");
}

.socket-icon.yellow {
	-webkit-mask-image: url("../images/socket-aan.png");
}

.socket-icon {
	-webkit-mask-image: url("../images/socket-uit.png");
}

.yellow {
	background-color: yellow !important;
}