<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/HomewizardTau" version="1.0.0" viewmodes="maximized">
    <tizen:application id="y4HJMT5WY3.HomewizardTau" package="y4HJMT5WY3" required_version="2.3.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <icon src="Logo_Homewizard.jpg"/>
    <name>HomewizardTau</name>
    <tizen:profile name="wearable"/>
    <tizen:setting hwkey-event="enable"/>
</widget>
